:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 400px;
}

div.scrollbar {
  overflow-y: auto;
  scrollbar-color: var(--color-gray-400) white; /* Firefox */
  scrollbar-width: thin; /* Firefox */
}

/* WebKit browsers */
div.scrollbar::-webkit-scrollbar {
  width: 12px;
}

div.scrollbar::-webkit-scrollbar-track {
  background: var(--color-gray-700);
}

div.scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
}

.dark .scrollbar {
  scrollbar-color: white var(--color-gray-700); /* Firefox */
  scrollbar-width: thin; /* Firefox */
}

.dark div.scrollbar::-webkit-scrollbar-track {
  background: white;
}

.dark div.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-gray-700);
  border-radius: 6px;
}
